<div class="title">
  <h1>つぶやきを確認する</h1>
</div>

<%= form_with(model: @twitter, url: twitters_path, local:true) do |form|%>
  <%= form.hidden_field :content%>
  <p>内容：<%= @twitter.content%></p>
  <%= form.submit '登録する'%>
<% end%>

<%= form_with(model: @twitter, url: new_twitter_path, local: true, method:'get') do |form|%>
  <%= form.hidden_field :content%>
  <%= form.submit "戻る", name: "back"%>
<% end%>
