<div class="title">
  <h1>つぶやき一覧</h1>
</div>

<div class="tweet_panel">
  <% @twitters.each do |twitter| %>
  <div class="tweet_list">
    <p>つぶやき</p>
    <p><%= twitter.content%></p>
    <div class="twitter_links">
      <%= link_to '詳しく見る',twitter_path(twitter.id)%>
      <%= link_to '編集する',edit_twitter_path(twitter.id)%>
      <%= link_to '削除する',twitter_path(twitter.id),method: :delete,data: {confirm:'本当に削除しますか？'}%>
    </div>
  </div>
  <% end%>

  <%= link_to 'つぶやく',new_twitter_path%>
</div>
