<div class="title">
  <h1>つぶやき一覧</h1>
</div>
<div class="container">
  <div class="tweet_panel row">
    <% @twitters.each do |twitter| %>
    <div class="tweet_list col-md-6">
      <p>つぶやき</p>
      <p><%= twitter.content%></p>
      <div class="twitter_links">
        <%= link_to '詳しく見る',twitter_path(twitter.id),class: "label label-default"%>
        <%= link_to '編集する',edit_twitter_path(twitter.id),class: "label label-success"%>
        <%= link_to '削除する',twitter_path(twitter.id),method: :delete,data: {confirm:'本当に削除しますか？'},class: "label label-warning"%>
      </div>
    </div>
    <% end%>
  </div>
  <%= link_to 'つぶやく',new_twitter_path%>
</div>
